html, body { 
  margin:0; 
  padding:0; 
  height:100%; 
}

body {

    background-color:#e5e5e5;
    margin: 0px;
    
}

p{color:#333;
font-family:'Open Sans', sans-serif;}
p.about-text{ margin:20px auto; line-height:22px; width:80%; }

ol,
ul {
    list-style: none
}

#main{
  background-image:url("https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?q=80&fm=jpg&s=293cce57f99e5d60745e1da9da9db675");
  width:100%;
  height:100%;
  top:0px;
  background-size:cover;
  background-position:bottom center;
  background-attachment: fixed;
}


.header {
  width:100%;
  height:400px;
  margin-top:250px;
  position:absolute;
  z-index: 10;
}

.header p {
  text-align:center;
}


nav {
  background-color: #DCDCDC;
  color:#FFF;
  width:100%;
  height:75px;
  top:0px;
  margin:auto auto;
  position:fixed;
  z-index: 100;
}

nav a {color:inherit;
font-weight:800;
text-transform: uppercase}

nav .home {font-size:25px;
line-height:40px;
margin-left:100px;}

nav .links {font-size:15px;
opacity:.4;
color:#313131;
}

nav ul{margin-right: 100px; float: right;}
nav li{display: inline; margin-left: 50px; line-height: 40px}

article{
  width:100%;
}

.headerbanner {
  background-attachment: fixed;
  background-color:black;
  background-size:cover;
  color:white;
  width:100%;
  height:100px;
  line-height:100px;
  text-align:center;
  overflow:auto;
  font-size:2.1em;
}

ol,
ul {
    list-style: none
}


.project-info {
  background-color: rgba(0,0,0,.8);
  color:white;
  font-size:16px;
  height:100%;
  padding-top:10%;
  position:absolute;
  text-align:center;
  top:100%; 
  left:0;
  width:100%;
  font-size:1.2em;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.project-info a {color:white;}

.project-thumbnail {
  float:left;
  height:300px;
  margin-bottom:.5%;
  position:relative;
  overflow:hidden;
  width:33%;

}

#portfolio-wrapper .project-thumbnail:nth-child(3n+2){ margin-left:.5%; margin-right:.5%; }

.project-thumbnail img {
  position:absolute;
  left:-75%;
}
.project-thumbnail:hover img
{
  /*height:125%;
  width:125%;*/
}
.project-thumbnail:hover .project-info
{
  top:0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}




#title{
  text-shadow: 2px 2px 6px #000000;
  color:white;
  font-size:40px;
}

#subtitle {
  text-shadow:2px 2px 6px #000000;
  color:white;
  font-size:30px;
}



.projects img {
    width: 100%;
}




.intro {
    margin-top: 2em
}

.projects,
.intro,
.location,
.about,
.contact {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    line-height: 200%
}

footer {
    font-size: 1.3em;

}

.content-footer {
    text-align: center;
    margin-top: 2em;
    padding: 4em 0

}

.social li,
a {
    display: inline-block;
    color: #313131;
    padding: 2px;

    text-decoration: none;

}



@media only screen and (max-width:500px) {
    .navbar {
        font-size: 3em;
    }
    @media only screen and (max-width:500px) {
        .intro {
            padding: 3em 0;
            font-size: 3em

 

        }}

